$mdi-font-path: "~mdi/fonts";
@import '~mdi/scss/materialdesignicons.scss';

@mixin icon($name) {
  &:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: mdi($name);
  }
}


* {
  box-sizing: border-box;
}
html,body {
  overflow: hidden;
  background-color: black;
}

.video-container {
  position: relative;
  display: block;
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .controls {
    position: absolute;
    top: 1em;
    left: 1em;
    a {
      color: white;
      text-decoration: none;
      margin-right: 1em;
      text-shadow: 0px 0px 5px #000;
    }

    .audio-mute {
      @include icon('microphone');
      &.muted { @include icon('microphone-off'); }
    }
    .video-mute {
      @include icon('video');
      &.muted { @include icon('video-off'); }
    }
  }
  .status {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding: 2em;
    background-color: #ffc636;
    box-shadow: -2px -2px 5px #000;
    border: 1px solid #ffb436;
    opacity: 1;
    transition: opacity 1s;
    &.error {
      background-color: #ff8494;
    }
    &.info {
      background-color: #a3dc9f;
    }
    &.hidden {
      opacity: 0;
    }
  }

  .present-count {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
    color: black;
    opacity: 0.6;
    i.mdi {
      font-size: 1.2em;
      margin-right: 0.2em;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}

